:root{
    --Roxo-Escuro:#1c1c2b;
    --Verde-Claro:#b6de3e;
    --Verde-Escuro:#73ad34;
    --Branco:#ffffff;

}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--Roxo-Escuro);
    
}

/*Alterações no cabeçalho*/

img{ /*Logo infotec */
    width: 200px;
    height: 50px;
}

.logo, 
.btnContrato{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 20px;
}

.logo{

    justify-content: space-between;
    /* padding: 0 10%; 0 para o top e button e o 10% tando para esquerda ou direita */
}

/*CSS Do PopUp*/

dialog{
    width: 500px;
    height: 250px;

    margin: 0 auto;
    border-radius: 10px;
    background-color: red;
}



/* Alterações nos botões */

.principal {

    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#btnContrato{
    width: 160px;
    height: 35px;
}

#imagemContrato{
    width: 150px;
    height: 200px;
    border-radius: 10px;
}

#imagemContrato:hover{

    background-color: var(--Branco);
    color: var(--Roxo-Escuro);
}


.btn{
    width: 159px;
    height: 205px;
    font-weight: bold;

    border-radius: 10px;
    border: none;

    background-color: var(--Roxo-Escuro);
    color: var(--Branco);
}

.btn:hover{
    border: 2px solid var(--Verde-Escuro);
    background-color: var(--Branco);
    color: var(--Roxo-Escuro);
}

