:root{
    --Roxo-Escuro:#1c1c2b;
    --Verde-Claro:#b6de3e;
    --Verde-Escuro:#558028;
    --Branco:#ffffff;

}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--Roxo-Escuro);
    
}

/*Alterações no cabeçalho*/

img{ /*Logo infotec */
    width: 200px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 20px;
}

.logo{

    justify-content: space-between;
    /* padding: 0 10%; 0 para o top e button e o 10% tando para esquerda ou direita */
    margin-left: 50px;
}

/*CSS Do PopUp*/

dialog{
    width: 500px;
    height: 250px;

    margin: 0 auto;
    border-radius: 10px;
    background-color: red;
}



/* Alterações nos botões */

.principal {

    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

a{
    text-decoration: none;
    position: relative;
    top: -50%;
    text-align: center;
    color: red;
}
#imagemContrato{
    width: 150px;
    height: 200px;
    border-radius: 10px;

}

#hbo{
    
    background-image: url(image/hbomax.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#imagemContrato:hover{

    background-color: var(--Branco);
    color: var(--Roxo-Escuro);
}


.btn{
    width: 159px;
    height: 205px;
    font-weight: bold;

    border-radius: 10px;
    border: none;

    background-color: var(--Roxo-Escuro);
    color: var(--Branco);

    transition: transform 1s;
    transform: translatex(5) scale(1.1)
}

.btn:hover{
    
    background-color: var(--Verde-Claro);
    color: var(--Roxo-Escuro);

    transform: translateX(6px) scale(1.2);    
}

/*Botão do contrato completo*/
.cta {
    width: 180px;
    height: 60px;
    font-weight: bold;
    display: flex;
    padding: 11px 30px;
    margin-right: 50px;
    text-decoration: none;
    font-size: 15px;
    color: var(--Roxo-Escuro);
    background: var(--Verde-Claro);
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
}
  
.cta:focus {
    outline: none;
}
  
.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 var(--Verde-Escuro);
}
  
.cta .second {
    transition: 0.5s;
    margin-right: 0px;
}
  
.cta:hover  .second {
    transition: 0.5s;
    margin-right: 45px;
}
  
.span {
    transform: skewX(15deg);
}
  
.second {
    margin-left: 30px;
    position: relative;
    top: 12%;
    transform: rotate(87deg);
    
}
  
.one {
    transition: 0.4s;
    transform: translateX(-60%);
    
}
  
.two {
    transition: 0.5s;
    transform: translateX(-30%);
}
  
.cta:hover .three {
    animation: color_anim 1s infinite 0.2s;
}
  
.cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}
  
.cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}
  
@keyframes color_anim {
    0% {
      fill: var(--Roxo-Escuro);
    }
  
    50% {
      fill: var(--Verde-Claro);
    }
  
    100% {
      fill: var(--Verde-Escuro);
    }
}

/*Versão mobile*/

@media screen and (max-width: 600px) {

    img{ /*Logo infotec */
        width: 125px;
        height: 45px;
    }

    .principal{
        display: grid;
        margin-top: 60px;
    }

    .cta{
        margin-left: 30px;
    }
}
